body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color:white;
    width: 1000px;
}

   

ul a{
    text-decoration: none;
    font-weight: bold;
    font-size:25px;
    padding:15px;
    margin:10px;
    justify-content: end;
    color:white;
    padding-bottom: 10px;
}

#header p{
    color:white;
}

#header ul{
    list-style: none;
    display:flex;
    gap: 20px;
    height: 6vh;
    padding-bottom: 25px;
}

#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding-left: 20px;
    height: 6vh;
    padding-top: 15px; 
    padding-right: 15px;
    padding-bottom: 15px; 
    font-size: 30px;
    font-weight: bold;
    position:fixed;
    left: 0px;
    right:0px;
    background-size: cover;
}

#Home{
    background:url("https://images.unsplash.com/photo-1600251146518-aea8a1c27593?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3Vuc2V0JTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D"); 
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
    gap:20px;
    color:white;
    height:100vh;
    width:1520px;
    padding-top:10px;
}
#Home h1{
    color:black;
    font-weight: bold;
    font-size: 50px;
    padding:75px;
    

}

#Home h2{
    color:black;
    font-weight: bold;
    font-size:20px;
    padding:10px;
}

#Home p{
    color:black;
    font-weight: bold;
    font-size: 20px;
   
    padding:10px;
}

 #Home .logo{
  width:30px;
  height:5vh;
  flex-direction:row;
  padding:10px;
}



#About{
    
    display: flex;
    flex-direction: row;
    height:100vh;
    width:1500px;
}
#About h1{
    color:black;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 7%;
    font-size: 50px;
}

#About p{
    color:black;
    font-size: 20px;
    padding:5px;
}
.log img{
    height:60vh;
    width:500px;
    object-fit: cover;
    padding-top:20%;
    margin:20px;
    padding-bottom: 30px;
}

.meta{
    height:60vh;
    width:500px;
    padding-top: 7%;
    margin:20px;
    padding-bottom: 30px;
}


#Skills{
    display: flex;
    flex-direction: row;
    height:100vh;
    width:1500px;
}
.skill h1{
    color:black;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 10%;
    font-size: 50px;
    margin-right: 10%;
}

.skill{
    gap:10px;
}

.skill p{
    color:black;
    padding:5px;
    font-size: 25px;
    justify-content: center;
}

.roal img{
    height:65vh;
    width:400px;
    object-fit: cover;
    padding:90px;
    margin:20px;
    padding-bottom: 20px;
}


#Eduction{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:100vh;
    width:1100px;
    gap:40px;
}
.learn h1{
    color:black;
    justify-content: center;
    align-items: center;
    display:flex;
    font-size: 50px;
    padding-top: 20%;
}

.learn{
    width: 500px;
    gap:40px;
}
.study img{
    height:60vh;
    width:400px;
    object-fit: cover;
    padding-top: 30%;
    margin-left:20%;
    padding-bottom: 20px;
}

.learn p{
    color:black;
    font-size: 25px;
    /* padding:5px; */
    justify-content: center;
}

#Contact{
    height:100vh;
    width:1500px;
    display:flex;
    flex-direction: row;
}

#Contact h1{
    color:black;
    justify-content: center;
    align-items: center;
    display:flex;
    font-size: 50px;
    padding-top: 10%;
}

#Contact a{
    text-decoration: none;
    color: blue;
    font-size: 30px;
    padding:20px;
}

.main{
   
}
.main img{
    height:60vh;
    width:300px;
    object-fit: cover;
    padding:95px;
    margin:20px;
    padding-bottom: 20px;
}
.form{
    display:flex;
    flex-direction: column;
    gap:8px;
    padding-left:30%;
    height: 65vh;
    width: 500px;
    box-shadow: 5px 15px 20px rgba(0,0,0,0.5);
    
}
.social-links{
  width:30px;
  height:5vh;
  flex-direction:row;
  padding:10px;
  display:flex;
}

button{
    border:none;
    background-color: skyblue;
    border:2px solid skyblue;
    border-radius: 5px;
    padding:10px;
    margin:10px;

}

#footer{
    background-color: yellow;
    color:black;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    padding-bottom: 15px;
    gap:10px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;

}

.social-links{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:15px;
    margin-top: 8px;
}

.social-links img{
    height:6vh;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    margin:0 10px;
    justify-content: space-between;
    align-items:center;
}
.social-links a{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height:6vh;
    width:30px;
}

.form input{
       font-size: 20px;
       border:2px solid black;
       padding:10px;
       border-radius: 6px;
       
}

.form label{
       font-size: 20px;
       padding:10px;
       
}
.form{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

@media (max-width: 375px) {
    #header {
        flex-direction: column;
        font-size: 20px;
        padding: 10px;
    }
    #Home, #About, #Skills, #Eduction, #Contact {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        width: 375px;
    }
    #header ul {
        flex-direction: row;
        gap: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    #Home, #About, #Skills, #Eduction, #Contact {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        width: 480px;
    }

    .form input, .form textarea {
        font-size: 16px;
    }
    #header {
        flex-direction: column;
        font-size: 20px;
        padding: 10px;
        position: fixed;
        left:0;
        right: 0;
    }
    #header ul {
        flex-direction: row;
        gap: 10px;
    }
}

/* Tablets (iPad, Galaxy Tab) */
@media (max-width: 768px) {
    #header {
        font-size: 22px;
    }
    #header {
        flex-direction: column;
        font-size: 20px;
        padding: 10px;
        position: fixed;
        left: 0;
        right: 0;
    }
    #header ul {
        flex-direction: row;
        gap: 10px;
    }
    #Home, #About, #Skills, #Eduction, #Contact {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        width:768px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    button {
        font-size: 16px;
        padding: 10px 15px;
    }
}

/* Laptops & Small Desktops */
@media (max-width: 1024px) {
   
    #header {
        flex-direction: column;
        font-size: 26px;
        padding: 12px 15px;
        position: fixed;
        left:0;
        right:0;
    }
    #header ul {
        flex-direction: row;
        gap: 10px;
    }
    #Home, #About, #Skills, #Eduction, #Contact {
        flex-direction: column;
        text-align: center;
        padding: 15px;
        width:1024px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }
}
