body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color:white;
}

   

ul a{
    text-decoration: none;
    font-weight: bold;
    font-size:25px;
    padding:15px;
    margin:10px;
    justify-content: end;
    color:white;
    padding-bottom: 10px;
}

#header p{
    color:white;
}

#header ul{
    list-style: none;
    display:flex;
    gap: 20px;
    height: 6vh;
    padding-bottom: 25px;
}

#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding-left: 20px;
    height: 6vh;
    padding-top: 15px; 
    padding-right: 15px;
    padding-bottom: 15px; 
    font-size: 30px;
    font-weight: bold;
    position:fixed;
    left: 0px;
    right:0px;
    background-size: cover;
}

#Home{
    background:url("https://images.unsplash.com/photo-1600251146518-aea8a1c27593?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3Vuc2V0JTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D"); 
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
    gap:20px;
    color:white;
    height:100vh;
    width:1520px;
    padding-top:10px;
}
#Home h1{
    color:black;
    font-weight: bold;
    font-size: 50px;
    padding:75px;
    

}

#Home h2{
    color:black;
    font-weight: bold;
    font-size:30px;
    padding:10px;
}

#Home p{
    color:black;
    font-weight: bold;
    font-size: 30px;
   
    padding:10px;
}

 #Home .logo{
  width:30px;
  height:5vh;
  flex-direction:row;
  padding:10px;
}



#About{
    
    display: flex;
    flex-direction: row;
    height:100vh;
    width:1500px;
}
#About h1{
    color:black;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:65px;
    font-size: 50px;
}

#About p{
    color:black;
    font-size: 30px;
    padding:5px;
}
.log img{
    height:60vh;
    width:500px;
    padding:90px;
    margin:20px;
    padding-bottom: 30px;
}



#Skills{
    display: flex;
    flex-direction: row;
    height:100vh;
    width:1500px;
}
#Skills h1{
    color:black;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:65px;
    font-size: 50px;
}

#Skills p{
    color:black;
    padding:5px;
    font-size: 25px;
    justify-content: center;
}

.roal img{
    height:60vh;
    width:400px;
    padding:90px;
    margin:20px;
    padding-bottom: 20px;
}


#Eduction{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height:100vh;
    width:1500px;
}
#Eduction h1{
    color:black;
    justify-content: center;
    align-items: center;
    display:flex;
    font-size: 50px;
    padding:65px;
}
.study img{
    height:60vh;
    width:400px;
    padding:90px;
    margin:20px;
    padding-bottom: 20px;
}

#Eduction p{
    color:black;
    font-size: 40px;
    padding:5px;
    justify-content: center;
}

#Contact{
    height:100vh;
    width:1500px;
    display:flex;
    flex-direction: row;
}

#Contact h1{
    color:black;
    justify-content: center;
    align-items: center;
    display:flex;
    font-size: 50px;
    padding:65px;
}

#Contact a{
    text-decoration: none;
    color: blue;
    font-size: 30px;
    padding:20px;
}
.main img{
    height:60vh;
    width:300px;
    padding:95px;
    margin:20px;
    padding-bottom: 20px;
}
.form{
    display:flex;
    flex-direction: column;
}
.social-links{
  width:30px;
  height:5vh;
  flex-direction:row;
  padding:10px;
  display:flex;
}

button{
    border:none;
    background-color: skyblue;
    border:2px solid skyblue;
    border-radius: 5px;
    padding:10px;
    margin:10px;

}

#footer{
    background-color: yellow;
    color:black;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    padding-bottom: 15px;
    gap:10px;


}

.social-links{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:15px;
    margin-top: 8px;
}

.social-links img{
    height:6vh;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    margin:0 10px;
    justify-content: space-between;
    align-items:center;
}
.social-links a{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height:6vh;
    width:30px;
}